/* 2 */body {
    background-color: #ced4d8;
}
/* 3 */
h1 {
    color: #AC6AC7;
}

/* 4 */
h2 {
    color: rgb(255, 165, 0);
}

/* 5 */
li {
    color: blue;
}

/* 6 */
p {
    background-color: gold;
}
/* 7 */
input {
    border: 5px dotted pink;
}
/* 8 */
.first  {
    background-color: #fff;

}

/* 9 */
#important {
    border: 3px dashed #00f;
}
/* 10 */
div p {
    font-size: 30px;
}
/* 11 */

[type="email"] {
    background-color: #808080;
}
/* 12 */
div:nth-of-type(3) p {
    background-color: hotpink;
}
/* 13 */
div:nth-of-type(3) p:nth-child(2) {
    border: 7px solid rgb(255, 255, 255);
}
/* 14 */
div p em {
    color: seashell;
    font-size: 25px;
}

